<div class="wraper">
   <div class="list">
      @for (movie of dataMovies; track movie.id){
      <app-material-movie-card [data]="movie" (addFavorites)="handelAddFavorites(movie)"
         (addWathList)="handelAddWathList(movie)" (removeMovie)="removeCheckedMovie(movie,favorits)">
      </app-material-movie-card>
      }
   </div>
   <div>
      <p>олюблене</p>
      <div>
         @if (!favorits.length) {
         <p>додайте выдео до олюбленого</p>
         }
         @else {
         <div class="list__checked">
            @for (item of favorits; track item.id) {
            <app-material-movie-card [data]="item" (removeMovie)="removeCheckedMovie(item,favorits)">
            </app-material-movie-card>
            }
         </div>
         }
      </div>

   </div>
   <div>
      <p>подивитись</p>
      <div>
         @if (!wathList.length) {
         <p>додайте відео до бажано подивитись</p>
         }
         @else {
         <div class="list__checked">
            @for (item of wathList; track item.id) {
            <app-material-movie-card [data]="item" (removeMovie)="removeCheckedMovie(item,wathList)">
            </app-material-movie-card>
            }
         </div>
         }
      </div>
   </div>
</div>